/*Hello! here you can see blocks of styles and find it 
by his Tag name. I hope this index helps you!!

App (APP ENVIROMENT)
Navbar sup.
App-container
Navbar inf.
Home
view Login & Signup
Sign Up
Log In
User - profile
User - edit
User - saved-routes
Routes - single
Route - create
Routes-all
Inventary
Inventary edit

*/

/*Common*/
:root {
  --dark-gray: #5a6574ff;
  --light-blue: #f1f6fcff;
  --light-gray: #9ea2a8ff;
  --gray: #7e7b74ff;
  --green: #77763eff;
}
.gold {
  color: #faaf4a;
}
.constrast {
  filter: contrast(50%);
}
img {
  border-radius: 10px;
}
.gray {
  color: #434444 !important;
}
* {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.App-container {
  margin-top: 85px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  padding-bottom: 85px;
}
.icon-size-medium {
  font-size: 20px;
}
.font-size-large {
  font-size: 22px;
}
button,
input {
  background: none;
  border: none;
}
form input {
  border-bottom: 2px solid gray;
  padding: 5px;
}
.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.transparent-card-background {
  background-color: rgba(241, 246, 252, 0.748);
  border-radius: 10px;
  padding: 15px;
}
/* Navbar sup. */
.navbar-sup {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  background-color: var(--light-blue);
  height: 10vh;
  z-index: 2;
}
.navbar-sup-auth {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
}
.signup-login {
  width: 70%;
  display: flex;
  gap: 30px;
}
.navbar-sup-auth button {
  background: none;
  border: none;
}
.navbar-sup-back {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.navbar-sup-back button {
  background: none;
  border: none;
}
/* Navbar inf. */
.navbar-inf {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: var(--light-blue);
  font-size: 25px;
  gap: 50px;
  z-index: index 2;
}
.navbar-inf a {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-icon {
  width: 37px;
  font-size: 37px;
  color: #434444;
}

/* Home */
.home {
  height: 100vh;
}
.home-title {
  height: 39%;
  align-items: center;
  padding-top: 10px;
}
.body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.random-box {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.random-box p {
  width: 87%;
  word-break: break-word;
  text-align: center;
  font-style: oblique;
  font-size: 21px;
}

.home-title h1 {
  font-size: 30px;
}
.home-title p {
  font-size: 20px;
  font-style: italic;
}
.all-routes-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.button-see-all {
  width: 186px;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #8d8888;
  color: #f6f4f1;
  text-align: center;
}

/* view Login & Signup*/
.login-signup {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.login-signup a {
  width: 80%;
  height: 45px;
  text-align: center;
  padding-top: 10px;
  border-radius: 10px;
  border: 1px solid #8080806b;
}
.login-button {
  background-color: #b0c9e6;
}
.signup-button {
  background-color: #77763ecf; /* var green but bit transparent */
  color: whitesmoke;
}
.search-home {
  background-color: rgba(240, 248, 255, 0.583);
}
.mag-glass {
  margin-left: 10px;
}
.search-box {
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.search-box label {
  border-bottom: 1px solid gray;
  width: 90%;
  text-align: center;
  font-size: 18px;
}
.query {
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7px;
  align-items: center;
}
.query input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  background-color: rgb(151 195 234 / 58%);
}
.search-results {
  width: 90%;
  height: 100%;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.search-results h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 3px;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
}
.options {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}
.route-options {
  width: 100%;
  margin-bottom: 15px;
}
.route-options img {
  width: 100%;
  height: 165px;
  object-fit: cover;
}
.route-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.route-info h4 {
  text-align: center;
  font-size: inherit;
  width: 70%;
  padding: 3px;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
}
.route-info div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/*----------------------*/
/* Sign Up / Log In */
.auth-links {
  height: 50%;
  gap: 30px;
}

.auth-links a {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
}

.auth-links a:first-child {
  background-color: #cccfd4;
  color: #4c4b4b;
}

.auth-links a:nth-child(2) {
  background-color: var(--green);
  color: #d9d9d9;
}

.signin-container,
.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signin-form,
.login-form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.login-container {
  width: 100%;
  height: 100%;
  gap: 50px;
}

.login-titles {
  align-items: center;
  justify-content: end;
}

.signin-titles {
  align-items: center;
  justify-content: end;
  margin-top: 30px;
}

.login-titles h3,
.signin-titles h3 {
  font-size: 30px;
}

.login-titles p,
.signin-titles p {
  font-size: 20px;
  font-style: italic;
}

.login-container form {
  height: 60%;
}

.login-form div,
.signin-form div {
  display: flex;
  flex-direction: column;
}

.login-titles,
.login-container form,
.signin-form {
  gap: 20px;
}

.email-input {
  margin-bottom: 20px;
}

.login-form button,
.signin-form button {
  margin-top: 20px;
  background-color: var(--green);
  padding: 10px;
  border-radius: 10px;
  color: #f9f7f7;
  font-size: 15px;
}

.signin-form {
  margin-top: 20px;
  height: 70%;
}

/* User - profile */
.user-container {
  width: 100%;
}

.user-card {
  padding: 20px 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.padding-left {
  padding-left: 50px;
}
.user-card-header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.user-card-header a {
  top: 129px;
  right: 40px;
  position: relative;
  height: 40px;
}
.profile-edit-icon {
  font-size: 20px;
  padding: 10px;
  border-radius: 100%;
  background-color: var(--gray);
  color: var(--light-blue);
}
.user-card img {
  border-radius: 100%;
  width: 180px;
  height: 180px;
  object-fit: cover;
}
.user-profile-info-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.user-profile-info {
  margin-top: 30px;
  width: 90%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.user-profile-info h3 {
  font-size: 30px;
  width: 70%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.user-profile-info h4 {
  padding: 5px;
}
.user-evolution {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 48px;
}
.user-evolution-info {
  font-size: 25px;
}
.user-options {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 77%;
  height: 35px;
  padding-right: 10px;
}

/* User - edit*/
.user-edit-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-top: 25px;
}
.user-edit-container h2 {
  width: 80%;
  font-size: 27px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
.user-edit-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.user-edit-form label {
  margin: 10px 0px 5px 0px;
  color: gray;
}
.user-edit-form input {
  width: 80%;
  height: 25px;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}
.user-edit-options {
  margin-top: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.user-edit-options button {
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 10px;
}
.button-edit {
  background-color: #8d8888;
  color: #f6f4f1;
}
.button-cancel {
  background-color: antiquewhite;
}

/* User - saved-routes*/
.saved-routes-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.no-saved-routes {
  width: 100%;
  gap: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-saved-routes a {
  padding: 10px 30px;
  background-color: lightgray;
  border-radius: 10px;
}
.saved-routes-container > h4 {
  width: 90%;
  font-size: 25px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
.route-card-saved {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 42vh;
}
.route-card-saved a {
  width: 90%;
  height: 220px;
}
.route-card-saved a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.route-saved-info {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.route-saved-info h4 {
  width: 80%;
  text-align: center;
  font-size: 20px;
  font-style: oblique;
  padding-top: 10px;
  border-bottom: 1px solid gray;
  padding-bottom: 3px;
  margin-bottom: 10px;
}
.route-saved-stats {
  display: flex;
  width: 90%;
  justify-content: center;
  gap: 30px;
}
.route-saved-state {
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}
.route-saved-state h3 {
  text-align: center;
  height: auto;
  padding-top: 5px;
}
.route-card-saved-new-status {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.route-card-saved-new-status p {
  width: 37%;
}
.route-card-saved-new-status div {
  width: 65%;
  display: flex;
  justify-content: space-around;
}

.route-card-saved-new-status button,
.route-card-saved-new-status div button {
  padding: 10px;
  background-color: lightgray;
  border-radius: 10px;
}
.cancel-route-button {
  background-color: #ec8a8a !important;
}

/*Routes - single */
.route-container {
  height: 100%;
  width: 100%;
}
.single-route-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95%;
}
.route-card-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 44vh;
  padding-top: 16px;
  align-items: center;
}
.route-pictures {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.route-pictures a {
  width: 100%;
  display: flex;
  justify-content: center;
}
.route-pictures h4 {
  width: 80%;
  font-size: 25px;
  border-bottom: 1px solid gray;
  text-align: center;
  word-break: break-all;
  margin-bottom: 10px;
}
.route-picture-img {
  width: 78%;
  height: 200px;
  object-fit: cover;
}
.route-map-img {
  width: 207px;
  height: 100px;
  object-fit: cover;
}
.route-card-info {
  height: 34%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.stats {
  display: flex;
  gap: 5px;
  height: 87%;
  width: 29%;
  align-items: center;
}
.route-inventary {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inventary-route {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}
.title {
  width: 80%;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 18pxpx;
}
.route-info-single-route {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}
.personal-items {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.user-items {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.personal-items-title {
  width: 90%;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.route-user-options {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}
.route-user-options-icon {
  font-size: 30px;
  color: var(--gray);
}
.sure-to-delete {
  position: fixed;
  background-color: #d0d5da;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sure-to-delete h4 {
  margin-bottom: 20px;
}
.sure-to-delete div {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.sure-to-delete button {
  background-color: #8d8888;
  color: #f6f4f1;
  padding: 10px 45px;
  border-radius: 10px;
}
.delete {
  background-color: #d86f6f !important;
  color: rgb(26, 25, 25) !important;
}
.saved {
  color: #d86f6f;
}
/*Route - create*/
.add-route {
  align-self: center;
  padding-top: 20px;
}
.new-route-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.new-route-title {
  width: 80%;
  text-align: center;
  padding-bottom: 3px;
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}
.new-route-info {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-bottom: 100px;
}
.new-route-info button {
  margin-top: 30px;
  background-color: beige;
  padding: 10px 30px;
  border-radius: 10px;
}
.new-route-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.new-route-block input {
  width: 80% !important;
  text-align: center;
  background-color: var(--light-blue);
  border-radius: 10px;
  border: 1px solid #eceaea !important;
}
.new-route-inventary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.new-route-inventary h3 {
  width: 100%;
  text-align: center;
  padding: 3px;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  font-size: 18px;
}
.new-route-inventary-block {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  padding-bottom: 15px;
}
.new-route-inventary-block p {
  width: 20%;
  text-align: center;
}
.new-route-inventary-block select {
  width: 80%;
}
.new-route-tips {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.new-route-tips h3 {
  width: 100%;
  text-align: center;
  padding: 3px;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  font-size: 18px;
}
.textarea {
  border-radius: 10px;
  border: 1px solid #eceaea;
  padding: 5px;
  height: 73px;
  width: 92%;
  text-align: center;
  background-color: var(--light-blue);
}

/*Inventary*/
.inventary-container {
  width: 100%;
  margin-top: 20px;
}
.inventary-card {
  width: 100%;
  gap: 15px;
  align-items: center;
}
.inventary-items {
  display: flex;
  width: auto;
  flex-direction: initial;
}
.inventary-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.inventary-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 23px;
  font-size: 20px;
  margin-left: 10px;
}
.inventary-logo-and-edit {
  width: 83%;
  display: flex;
  justify-content: center;
  padding-left: 57px;
}
.inventary-logo-and-edit img {
  width: 49%;
  height: 152px;
  object-fit: cover;
  filter: contrast(0.5);
}
.inventary-logo-and-edit a {
  height: 55px;
  width: 55px;
  border-radius: 100%;
  background: antiquewhite;
  position: relative;
  top: 115px;
  right: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.personal-items {
  width: 70%;
}
.personal-items p {
  width: 100%;
  text-align: center;
  padding: 3px;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  font-size: 18px;
}
.personal-items ul {
  width: 80%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.personal-items ul li {
  width: 40%;
}
/*Inventary edit*/
.edit-inventary-container {
  width: 100%;
  margin-top: 20px;
  gap: 15px;
  align-items: center;
}
.inventary-edit-card {
  width: 100%;
  gap: 15px;
  align-items: center;
}
.inventary-logo {
  width: 70%;
  display: flex;
  justify-content: center;
  padding-left: 5px;
}
.inventary-logo img {
  width: 49%;
  height: 152px;
  object-fit: cover;
  filter: contrast(0.5);
}
.inventary-form-edit {
  width: 90%;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.edit-inventary {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-inventary div {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 10px;
}
.edit-inventary select {
  width: 60%;
  height: 40px;
  font-size: 19px;
}
.edit-inventary div svg {
  font-size: 40px;
}
.edit-inventary div p {
  font-size: 16px;
  padding-top: 0px;
  height: 47px;
  display: flex;
  align-items: center;
}
.edit-other {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-other label {
  width: 90%;
  text-align: center;
  padding-bottom: 3px;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  font-size: medium;
}
.edit-other input {
  width: 100%;
  height: 50px;
  background-color: aliceblue;
  border-bottom: none;
  text-align: center;
  border-radius: 10px;
}
.update-inventary {
  background-color: beige;
  padding: 10px 30px;
  border-radius: 10px;
}
